.disabled{
    cursor: not-allowed !important;
}


.boton{
    display: flex;
    justify-content: center;
}

#logo{
    height: 45px;
}

.inicio{
    display: flex;
   
    flex-direction: row;
    align-items: flex-start;
   
}
body{
    height: 100%;
   
    background-image: linear-gradient(to right, #007991 , #78ffd6);
}

.texto{
    border: 5px solid greenyellow;
    background-color: yellowgreen;
}

.menu{
    display: flex;
    flex-direction: row;
}

.my-navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

/* 0px - 540px */
@media(max-width:540px){
    .title{
        text-align: center;
    }

}

/* 540px - 720px */
@media(min-width:540px){
    .title{
        text-align: center;
    }

}

/* 720px - 960px */
@media(min-width:720px){
    .title{
        text-align: left;
    }

}

/* 1140px - y mas */
@media(min-width:1140px){
    .title{
        text-align: left;
    }

}

/* .card{
    width: 30%;
} */