.rojo{
    color: red;
}

.verde{
    color: green;
}

.caja{
   
    height: 272px;
    width: 92px;
    margin-left: 500px;
    margin-top: 243px;
}
.cajita{
    border:3px solid violet;
    height: 150px;
    width: 150px;
}

.caj{
    height: 50px ;
    margin-top: 15px;
    border-radius: 15px;
    width: 185px;
}

#suerte{
margin-left: 318px;
}

.texto{
    
    padding-inline-start: 20px;
 
    height: 30px;
    width: 584px;
    border-radius: 15px
}
.imagen{
    height: 92px;
    width: 292px;
    
}